.DS_Store
node_modules/
notes/

.DS_Store
week-01/.DS_Store
week-01/day-3/.DS_Store
week-02/.DS_Store
week-02/day-1/.DS_Store
week-02/day-2/.DS_Store
week-02/day-3/.DS_Store
week-04/.DS_Store
week-04/day-1/.DS_Store
week-06/matreview.js
week-06/day-4/matreview.js
notes/week-6-day-2/DOM.js
notes/week-7-day-2/index.html
notes/week-7-day-2/main.js
week-09/day-4/.env
notes/week-6/DOM.js
notes/week-6/package-lock.json
notes/week-6/package.json
notes/week-6/serversidebasics.js
