.container {
    display: flex;
    align-items: center;
}

.item {
    align-self: flex-end;
    width: 200px;
    height: 200px;
}

.green {
    background-color: #51D400;
}

.yellow {
    background-color: #FFD62A;
}

.purple {
    background-color: #B02AFF;
}